.app {
    padding: 5rem;
    margin: 3rem;
    border: 5px solid black;
}

.avter {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: brown;
}